@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Nunito+Sans:wght@700&display=swap');

* {
    font-family: 'Dongle', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    color: white;
}



.App {
    margin: 0px;
    height: 100vh;
    width: 100vw;
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
}

.container {
    /* background-image: url("https://cdnb.artstation.com/p/assets/images/images/006/771/811/large/daka-dibuja-2-media-noche.jpg?1501127210s"); */
    height: 100vh;
    width: 100VW;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    width: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    backdrop-filter: blur(5px);
}

.main-info {
    font-size: 30px;
    display: flex;
    width: 80%;
    align-items: center;
    padding: 0, 0, 0 ,0;
    margin-bottom: 30px;
}

.main-icon {
    font-size: 100px;
    padding: 0, 0, 0 ,0;
    margin: 1px;
}

.main-location {
    font-size: 15px;
}


.second-info {
    font-size: .4em;
}

.s-info  {
    margin: 5px;
}

.s-info span {
    font-size: x-small;
}

.value {
    float: right;
}

#description {
    margin: 0;
    font-weight: bolder;
    font-style: italic;
    font-size: .8em;
    white-space: nowrap;
}

#temps {
    text-align: center;
}

#temps p {
    margin: 2px;
}

#temps p span {
    font-size: x-small;
}

#temp {
    font-size: 2em;
}

#sensacao {
    font-size: small;
    font-style: italic;
}

.space {
    width: 90%;
}

.weather {
    text-align: center;
}

.weekForecast {
    display: flex;
    flex-direction: row;
}

.weekForecast div {
    margin: 16px;
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media only screen and (max-width:700px) {

    .container {
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .box {
        width: 90%;
        display: flex;
        align-items: center;
        flex-direction: column;
        border-radius: 15px;
    }

    .main-info {
        font-size: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0, 0, 0 ,0;
        
    }

    .main-icon {
        font-size: 40px;
        padding: 0, 0, 0 ,0;
    }

    .main-location {
        font-size: 8px;
    }

    .second-info {
    
        display: flex;
        flex-direction: row;
        padding-left: 20px;
        padding-top: 0;
        font-size: 15px;
        
    }

    .s-info  {
        margin-right: 30px;
    }

    .value {
        float: none;
    }

    .weekForecast {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 20px;
        row-gap: 20px;
    }
}